---
layout: default
---

<div class="home">

  <!--h1>Posts</h1-->

  <ul class="posts">
    {% for post in site.posts %}
      <li id="{{ post.title }}">
        <div class="post-link">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          &nbsp;<a class="post-anchor-link" href="#{{post.title}}">&para;</a></td>
        </div>
        <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
      </li>
      {% if post.layout == "short_post" %}
        {% include gen/short_post.html %}
      {% else %}
        {% include gen/post.html %}
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
